<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My TTC</title>
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="main.css">
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-resource.js"></script>

<script src="app.js"></script>
</head>
<body ng-app="MyApp" ng-controller="MyCtrl">	
<div class="container">
	<header>
		<h1 class="text-center">The TTC Bus Schedule</h1>
		<h3 class="text-center">Know when the bus is coming....</h3>
	</header>

	<section class="search">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			 <div class="col-lg-6">
   				 <div class="input-group">
      			<input type="text" class="form-control" ng-model="station" placeholder="Search for a station...">
      			<span class="input-group-btn">
        			<button class="btn btn-default" type="button" ng-click="add()">Search</button>
      			</span>
    	</div>
  </div>
</div>
</div>
	</section>

	<section class="filter-search">
		<div class="col-sm-6 col-sm-offset-3 text-center">
			<input type="text" class="inp" ng-model="searchText" placeholder="Filter results by bus number">
		</div>
	</section>
	
	<section class="results">
		<div class="row">
		<div class="col-sm-6 col-sm-offset-3 text-center table-responsive">
		<table class="table table-bordered text-center">
		<tr>
			<td>Bus #</td>
			<td>Departure Time</td>
		</tr>
		<tr ng-repeat="item in arr | filter:searchText">
			<td>{{item.shape}}</td>
			<td>{{item.departure_time}}</td>
		</tr>
	</table>
	</div>

	</div>

	</section>	
	</div>
</body>
</html>