
header{

	background: rgba(255,0,0,0.7);
	color: #eee;
}
.search {

	margin-top: 20px;
}
.filter-search {

	margin-top: 20px;
	margin-bottom: 70px;
}
.results {

	margin-top: 20px;
	background: rgba(255,0,0,0.7);
	color: #111;
}


.inp {

	width: 250px;
	border-radius: 4px;
}

.table{

	background: rgb(150,150,150);
	color: #fff;
}